<article id="getbusy">
    <h1>who are we?</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab enim consectetur reprehenderit eos qui eaque molestiae quasi et nam veniam facilis reiciendis incidunt repellendus, culpa modi dignissimos at a nesciunt?</p>
</article>