<article id="whoshouldcome">
    <h1>Who should come?</h1>
    <ul>
        <li>Anybody interested in art and the creative industry</li>
        <li>Anybody interested in art and the music industry</li>
        <li>Anybody interested in art and the game industry</li>
    </ul>
</article>